<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" media="all" href="css/loginStyle.css"  th:href="@{css/loginStyle.css}" />
<meta charset="ISO-8859-1">
<title>Image Gallery</title>
</head>
<body>	
	<h1>Welcome to your Image Gallery</h1>
	<h2>Login</h2>
	<form action="Login" method="post">
		<input type="text" name="username" placeholder="Username" required />
		<input type="password" name="password" placeholder="Password"  required/>
		<input type="submit" />
	</form>
	<h2>Subscribe</h2>
	<form action = "Register" method="post">
		<input type="text" name="username" placeholder="Username"  />
		<input type="text" name="email" placeholder="Email"  />
		<input type="password" name="password" placeholder="Password"  />
		<input type="text" name="repeatedpassword" placeholder="Repeat Password"  />
		<input type="submit"/>
	</form>
	<p th:text=" ${errorMsg}"></p>
	<p th:text=" ${passwordErrorMsg}"></p>
	<p th:text=" ${usernameErrorMsg}"></p>
	<p th:text=" ${emailErrorMsg}"></p>
	<p th:text=" ${existingAccountErrorMsg}"></p>
</body>
</html>