<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" media="all"
	href="css/loginStyle.css" th:href="@{css/loginStyle.css}" />
<meta charset="ISO-8859-1">
<title th:text = "${album.title}">Title of the album</title>
</head>
<body>
	
	
	<h1 th:text = "${pageCount}"></h1>

	
	<table th:if="${not #lists.isEmpty(images)}">
		<tbody>
		
		<!-- add image details link -->
		<!-- th:href="@{/Album(albumId=${album.id},pageCount=${pageCount})}"-->
		<tr>
			<td th:each = "image: ${images}">
				<p th:text = "${image.title}">title</p>
				
					<img th:src="@{|${image.source}|}" class="thumb">
				
			</td>
		</tr>	
		</tbody>
		
		
	</table>
	
	

	<form th:action="@{/Upload}" method="post"enctype="multipart/form-data">
	
		<input type="hidden" name="albumId" th:value="${album.id}" required />
		<input type="file" name="image" required />
		<input type="text" name="title" required />
		<input type="text" name="description" required />
		<input type="submit" value="Upload" />
		
	</form>

</body>
</html>